<h1 class="display-2">Rooms</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms" (click)="onSelectRoom(room)" [class.table-info]="room === selectedRoom">
        <th scope="row">{{ room.id }}</th>
        <td><a [routerLink]="['/rooms', room.id]">{{ room.name }}</a></td>
        <td>{{ room.size }}</td>
      </tr>
  </tbody>
</table>

<div class="col" *ngIf="selectedRoom">
    <button mat-raised-button color="primary" (click)="onNewClick()">New Room</button>
  <room-form [room]="selectedRoom" (onSubmit)="onFormSubmit($event)"></room-form>
</div>