<form (submit)="submit(projectionForm)" #projectionForm="ngForm">
        <div class="form-group">
          <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
          <mat-form-field>
            <input
              name="movie"
              [(ngModel)]="model.movie.name"
              matInput type="text"
              aria-describedby="locationHelp"
              #movie="ngModel"
              placeholder="Enter movie">
          </mat-form-field>
          <mat-error *ngIf="movie.invalid && (movie.dirty || movie.touched) && movie.errors['required']">
            Movie is required!
          </mat-error>
        </div>
    
        <div class="form-group">
            <!-- <small id="sizeHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
            <mat-form-field>
              <input
                name="room"
                matInput type="text"
                aria-describedby="sizeHelp"
                [(ngModel)]="model.room.name"
                #room="ngModel"
                placeholder="Enter room">
            </mat-form-field>
            <mat-error *ngIf="room.invalid && (room.dirty || room.touched) && room.errors['required']">
                    Room is required!
                  </mat-error>
          </div>

          <div class="form-group">
                <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
                <mat-form-field>
                  <input
                    name="date"
                    [(ngModel)]="model.projectionDate"
                    matInput type="date"
                    aria-describedby="locationHelp"
                    #date="ngModel"
                    placeholder="Date (i.e 2019-12-22)">
                </mat-form-field>
                <mat-error *ngIf="date.invalid && (date.dirty || date.touched) && date.errors['required']">
                  Date is required!
                </mat-error>
              </div>
        
        <button [disabled]="!projectionForm.valid" type="submit" mat-raised-button color="primary" routerLink="/projections">Save projection</button>
      </form>