<form (submit)="submit(roomForm)" #roomForm="ngForm">
        <div class="form-group">
          <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
          <mat-form-field>
            <input
              name="name"
              [(ngModel)]="model.name"
              matInput type="text"
              aria-describedby="locationHelp"
              #name="ngModel"
              placeholder="Enter name">
          </mat-form-field>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors['required']">
            Name is required!
          </mat-error>
        </div>
    
        <div class="form-group">
            <!-- <small id="sizeHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
            <mat-form-field>
              <input
                name="size"
                matInput type="text"
                aria-describedby="sizeHelp"
                [(ngModel)]="model.size"
                #size="ngModel"
                placeholder="Enter size">
            </mat-form-field>
            <mat-error *ngIf="size.invalid && (size.dirty || size.touched) && size.errors['required']">
                    Size is required!
                  </mat-error>
          </div>
        
        <button [disabled]="!roomForm.valid" type="submit" mat-raised-button color="primary" routerLink="/rooms">Save room</button>
      </form>